<settings>
<proxies>
    <proxy>
        <id>httpproxy</id>
        <active>true</active>
        <protocol>http</protocol>
        <host>your-http-proxy-server</host>
        <port>your-http-proxy-port</por0t>
        <nonProxyHosts>local.net|localhost|127.0.0.1</nonProxyHosts>
    </proxy>
<proxy>
        <id>httpsproxy</id>
        <active>true</active>
        <protocol>https</protocol>
        <host>your-https-proxy-server</host>
        <port>your-https-proxy-port</port>
        <nonProxyHosts>local.net|localhost|127.0.0.1</nonProxyHosts>
    </proxy>

</proxies>
</settings>
